/*****************************************************************************************************
		Estrutura padrão do site
*****************************************************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica, "Trebuchete MS", sans-serif;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	height: 100vh;
}



/*****************************************************************************************************
		Classes globais
*****************************************************************************************************/

.full-height {
	height: 86%;
}

/* Cor cinza background */
.cor-fundo {
	background-color: #F3F3F3 !important;
}

/* Divisor de LI utilizado nas barra de nav | */
.divisor-nav{
	height: 20px;
	border-right: 1px solid #000;
 }

 /* Arredondamento para forms*/
 .borda {
	border-radius: 15px;
}

/*Customização de erro dos formulários*/
.erroInput {
	color: red;
	font-size: 10px;
	text-align: initial;
	padding-left: 10px;
	margin-bottom: 0px;
}

/*Customização de sucesso dos formulários*/
.retornoMsg {
	color: green;
	font-size: 15px;
	text-align: center;
	margin: 0.5rem;
}

/*Customização da cor do texto dos inputs dos formulários*/
.colorInputForm{
	color: #00000099;
}



/*****************************************************************************************************
		Customizações Login
*****************************************************************************************************/

/* Font Aewsome */
.fa-facebook-square {
	color: #3b5998;
}

.fa-google-plus-square {
	color: #db4a39;
}



/*****************************************************************************************************
		Customizações Home
*****************************************************************************************************/

.cor-teste {
	background-color: #7e0000 !important;
}


.botao {
	padding-bottom: 400px;
}




